
.searchBox input{
    width: 80%;
    height: 22px;
    margin:20px 180px;
    border-radius: 3px;
}
.searchBox{
    background-color: #252525;
    height: 70px;
}
.displayItem{
    margin: 0 10%;
    display: flex;
}
.showItem{
    border-right: 1px solid #c7c6c6;
    padding: 20px;
    width: 80%;
}

