.reviewCart{
    display: flex;
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 20px;
}
.viewProduct{
    width: 40%;
}
.Details{
    width: 60%;
    float: left;
    display: block;
}
.Details button{
    width: 180px;
    height: 30px;
    background-color: goldenrod;
    border-radius: 5px;
    border: 1px solid grey;
}